---
import Layout from '../layouts/Layout.astro'
import { title, slug } from '../meta.json'

import ZootropeComponent from '../components/Zootrope'
---

<Layout {title} repoUrl={`https://github.com/devjam/playground-${slug}`}>
  <main>
    <ZootropeComponent client:load />
  </main>
</Layout>
