---
import Layout from '../layouts/Layout.astro'
import { title, slug } from '../meta.json'

import ZoetropeComponent from '../components/Zoetrope'
---

<Layout {title} repoUrl={`https://github.com/devjam/playground-${slug}`}>
  <main>
    <ZoetropeComponent client:load />
  </main>
</Layout>
